.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.container h1{
    color: white;
    font-size: 48px;
    margin-bottom: 20px;
}

.container p{
    color: white;
    font-size: 24px;
    text-align: center;
}

.container button{
    padding: 12px 24px;
    font-size: 18px;
    color: white;
    background-color: #4f46e5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s ease;
}

.container button:hover{
    background-color: #6366f1;
}

